
version: '3.8'


services:



  postgres-sessions:
    image: postgres:16-alpine      
    container_name: postgres-sessions-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sessions_db
    ports:
      - "5431:5432"              
    volumes:
      - postgres_sessions_data:/var/lib/postgresql/data 

  postgres-orders:
    image: postgres:16-alpine
    container_name: postgres-orders-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: orders_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_orders_data:/var/lib/postgresql/data

  postgres-tickets:
    image: postgres:16-alpine
    container_name: postgres-tickets-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tickets_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_tickets_data:/var/lib/postgresql/data

 

  rabbitmq:
    image: rabbitmq:3.13-management-alpine 
    container_name: rabbitmq
    ports:
      - "5672:5672"   
      - "15672:15672"


volumes:
  postgres_sessions_data:
  postgres_orders_data:
  postgres_tickets_data:
